<div class="jumbotron jumbotron-fluid h-2 pt-4 pb-0 m-0">
  <div class="container">
    <h1 class="display-5">Đấu giá linh tinh</h1>
  </div>
  <nav class="navbar bg-light mt-4 navbar-expand-lg">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mt-2 mt-lg-0 mr-auto">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/">TRANG CHỦ</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-dark"
            href="/products"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
          >
            SẢN PHẨM
          </a>
          <div class="dropdown-menu">
            <% categoriesHeader.forEach(categoryItem => { %>
            <a class="dropdown-item" href="/products?category=<%= categoryItem.id %>"><%= categoryItem.name %></a>
            <% }) %>
          </div>
        </li>
        <% if (typeof user === 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/users/login">ĐĂNG NHẬP</a>
        </li>
        <% } %> <% if (typeof user != 'undefined' && user.role === 'seller') { %>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/products/new">BÁN HÀNG</a>
        </li>
        <% } %> <% if (typeof user != 'undefined') { %>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/dashboard">DASHBOARD</a>
        </li>
        <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/products?category=13">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Tìm sản phẩm..."
          value="<%= typeof keywords !== 'undefined' ? keywords : '' %>"
          name="keywords"
        />
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Tìm</button>
      </form>
    </div>
  </nav>
</div>
