<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Thêm mô tả</h1>
      <form action="/products/<%= productItem.id %>" method="POST">
        <div class="form-group">
          <label for="current">Mô tả hiện tại</label>
          <textarea disabled class="form-control" rows="7" id="current"><%= productItem.description %></textarea>
        </div>
        <div class="form-group">
          <label for="description">Mô tả</label>
          <textarea
            class="form-control"
            id="description"
            rows="3"
            name="description"
            placeholder="Thêm mô tả"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Chỉnh sửa</button>
      </form>
    </div>
  </div>
</div>
