<div class="col-md-8 m-auto">
  <h1 class="mt-4">Dashboard</h1>
  <% if (user.role !== 'admin') { %>
  <div class="card shadow mb-4">
    <div class="card-body text-right pt-3">
      <p class="text-left lead my-0">Chào mừng <%= user.name %>.</p>
      <p class="text-left lead my-0">Bạn đang là <%= user.role %>.</p>
      <% if (user.role === 'bidder') { %> <% if (requests.length === 0) { %>
      <form action="/requests?userId=<%= user.id %>" method="POST">
        <button type="submit" class="btn btn-primary">Nâng cấp thành tài khoản người bán</button>
      </form>
      <% } else { %> <% if (requests[0].approved === false) { %>
      <p>Yêu cầu nâng cấp của bạn đã bị từ chối.</p>
      <% } else { %>
      <p>Yêu cầu nâng cấp của bạn đang được xử lý.</p>
      <% } %> <% } %> <% } %>
    </div>
  </div>
  <% } %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <h4 class="card-title">Đổi thông tin cá nhân</h4>
      <%- include('partials/messages') %>
      <form class="text-right" action="/users/<%= user.id %>" method="POST">
        <div class="form-group text-left">
          <label for="name">Tên</label>
          <input type="name" class="form-control" id="name" name="name" value="<%= user.name %>" />
        </div>
        <div class="form-group text-left">
          <label for="address">Địa chỉ</label>
          <input type="address" class="form-control" id="address" name="address" value="<%= user.address %>" />
        </div>
        <div class="form-group text-left">
          <label for="password">Mật khẩu mới</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>
        <div class="form-group text-left">
          <label for="password2">Nhập lại mật khẩu mới</label>
          <input type="password" class="form-control" id="password2" name="password2" />
        </div>
        <div class="form-group text-left">
          <label for="current-password">Mật khẩu hiện tại</label>
          <input type="password" class="form-control" id="current-password" name="currentPassword" />
        </div>
        <button type="submit" class="btn btn-primary mt-2 mx-auto">Sửa thông tin</button>
      </form>
    </div>
  </div>
  <% if (sellingProducts.length > 0) { %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <h4 class="card-title">Sản phẩm đang bán</h4>
      <table class="table mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Giá khởi điểm</th>
            <th scope="col">Giá hiện tại</th>
            <th scope="col">Thời gian kết thúc</th>
          </tr>
        </thead>
        <tbody>
          <% sellingProducts.forEach(sellingProduct => { %>
          <tr>
            <td><a href="/products/<%= sellingProduct.id %>"><%= sellingProduct.name %></a></td>
            <td><%= formatText.formatMoney(sellingProduct.startingPrice) %>đ</td>
            <td><%= sellingProduct.current ? `${formatText.formatMoney(sellingProduct.current)}đ` : '-' %></td>
            <td>
              <%= moment(sellingProduct.closedDate).format('D/M/YYYY H:mm') %> (còn <%=
              moment(sellingProduct.closedDate).toNow(true) %>)
            </td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
  </div>
  <% } %> <% if (soldProducts.length > 0) { %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <h4 class="card-title">Sản phẩm đã bán</h4>
      <table class="table mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Giá bán được</th>
            <th scope="col">Người mua</th>
          </tr>
        </thead>
        <tbody>
          <% soldProducts.forEach(soldProduct => { %>
          <tr>
            <td><a href="/products/<%= soldProduct.id %>"><%= soldProduct.name %></a></td>
            <td><%= formatText.formatMoney(soldProduct.finalPrice) %>đ</td>
            <td><%= formatText.maskText(soldProduct.winnerName) %></td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
  </div>
  <% } %> <% if (biddings.length > 0) { %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <h4 class="card-title">Sản phẩm đang tham gia đấu giá</h4>
      <table class="table mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Giá đã đặt</th>
            <th scope="col">Giá cao nhất</th>
            <th scope="col">Thời gian kết thúc</th>
          </tr>
        </thead>
        <tbody>
          <% biddings.forEach(bidding => { %>
          <tr class="<%= bidding.myMax !== bidding.current ? 'table-warning' : '' %>">
            <td><a href="/products/<%= bidding.productId %>"><%= bidding.name %></a></td>
            <td><%= formatText.formatMoney(bidding.myMax) %>đ</td>
            <td><%= formatText.formatMoney(bidding.current) %>đ</td>
            <td>
              <%= moment(bidding.closedDate).format('D/M/YYYY H:mm') %> (còn <%= moment(bidding.closedDate).toNow(true)
              %>)
            </td>
          </tr>
          <% })%>
        </tbody>
      </table>
    </div>
  </div>
  <% } %> <% if (boughtProducts.length > 0) { %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <h4 class="card-title">Sản phẩm đã thắng</h4>
      <table class="table mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Giá mua</th>
          </tr>
        </thead>
        <tbody>
          <% boughtProducts.forEach(boughtProduct => { %>
          <tr>
            <td><a href="/products/<%= boughtProduct.id %>"><%= boughtProduct.name %></a></td>
            <td><%= formatText.formatMoney(boughtProduct.finalPrice) %>đ</td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } %> <% if (user.role === 'admin') { %>
  <div class="card shadow mb-4">
    <div class="card-body pb-2">
      <h4 class="card-title">Yêu cầu nâng cấp tài khoản</h4>
      <% if (requestsList.length === 0) { %>
      <p>Hiện không có yêu cầu nào cần xử lý.</p>
      <% } %> <% requestsList.forEach(request => { %>
      <form action="/requests/<%= request.userId %>" method="post">
        <div class="form-group row">
          <label class="col-sm-8 col-form-label"
            ><%= request.name %> - <em><%= moment(request.date).format('D/M/YYYY H:mm') %></em></label
          >

          <div class="btn-group btn-group-sm col-sm-4">
            <button type="submit" class="btn btn-info text-dark" name="approved" value="true">Chấp thuận</button>
            <button type="submit" class="btn btn-danger" name="approved" value="false">Từ chối</button>
          </div>
        </div>
      </form>

      <% }) %>
    </div>
  </div>
  <% } %> <% if (user.role === 'admin' && userList.length > 0) { %>
  <div class="card shadow mb-4">
    <div class="card-body">
      <h4 class="card-title">Quản lý danh sách thành viên</h4>
      <table class="table mb-0">
        <thead class="thead-light">
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Tên</th>
            <th scope="col">Role</th>
            <th scope="col">Quản lý</th>
          </tr>
        </thead>
        <tbody>
          <% userList.forEach(userItem => { %>
          <tr>
            <td class="py-1"><%= userItem.email %></td>
            <td class="py-1"><%= userItem.name %></td>
            <td class="py-1"><%= userItem.role %></td>
            <td class="py-1 text-center">
              <a class="btn text-dark btn-info btn-sm" href="/users/<%= userItem.id %>/edit">Chỉnh sửa thông tin</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
  <% } %> <% if (user.role === 'admin' && categoryList.length > 0) { %>
  <div class="card shadow mb-4">
    <div class="card-body text-right">
      <h4 class="card-title text-left">Quản lý danh mục</h4>
      <table class="table mb-2 text-left">
        <thead class="thead-light">
          <tr>
            <th scope="col">Danh mục</th>
            <th scope="col">Thuộc danh mục</th>
            <th scope="col">Quản lý</th>
          </tr>
        </thead>
        <tbody>
          <% categoryList.forEach(categoryItem => { %>
          <tr>
            <td class="py-1"><%= categoryItem.name %></td>
            <td class="py-1"><%= categoryItem.rootName %></td>
            <td class="py-1 text-center">
              <div class="btn-group" role="group">
                <a type="button" class="btn btn-sm btn-info text-dark" href="/categories/<%= categoryItem.id %>/edit"
                  >Sửa</a
                >
                <a type="button" class="btn btn-sm btn-danger" href="/categories/<%= categoryItem.id %>/delete">Xóa</a>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/categories/new" class="btn btn-primary mt-2">Thêm danh mục</a>
    </div>
  </div>
  <% } %>
  <a href="/users/logout" class="btn btn-secondary">Đăng xuất</a>
</div>
