<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Thêm danh mục</h1>
      <form action="/categories" method="POST">
        <div class="form-group">
          <label for="name">Tên</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Tên danh mục..." />
        </div>
        <div class="form-group">
          <label for="root">Thuộc về</label>
          <select class="form-control" id="root" name="root">
            <option value="0">-</option>
            <% categories.forEach(category => { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Thêm</button>
      </form>
    </div>
  </div>
</div>
