<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h3 class="text-center mb-3">Sản phẩm mới</h3>
      <%- include('partials/messages') %>
      <form action="/products" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Tên sản phẩm</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Nhập tên sản phẩm"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="category">Nhóm mặt hàng</label>
          <select class="form-control" id="category" name="category">
            <% categories.forEach(cat => { %>
            <option value="<%= cat.id %>"><%= cat.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group">
          <label for="image">Ảnh</label>
          <input type="file" id="image" name="image" class="form-control" placeholder="Chọn ảnh sản phẩm" />
        </div>
        <div class="form-group">
          <label for="sideImages">Ảnh phụ</label>
          <input
            type="file"
            id="sideImages"
            name="sideImages"
            class="form-control"
            multiple="multiple"
            placeholder="Chọn 3 ảnh phụ của sản phẩm"
          />
        </div>
        <div class="form-group">
          <label for="startingPrice">Giá khởi điểm</label>
          <div class="input-group">
            <input
              type="number"
              id="startingPrice"
              name="startingPrice"
              class="form-control"
              placeholder="Nhập giá khởi điểm"
              value="<%= typeof startingPrice != 'undefined' ? startingPrice : '' %>"
            />
            <div class="input-group-append"><div class="input-group-text">đ</div></div>
          </div>
        </div>
        <div class="form-group">
          <label for="increment">Bước giá</label>
          <div class="input-group">
            <input
              type="number"
              id="increment"
              name="increment"
              class="form-control"
              placeholder="Nhập bước giá"
              value="<%= typeof increment != 'undefined' ? increment : '' %>"
            />
            <div class="input-group-append"><div class="input-group-text">đ</div></div>
          </div>
        </div>
        <div class="form-group">
          <label for="price">Giá mua ngay</label>
          <div class="input-group">
            <input
              type="number"
              id="price"
              name="price"
              class="form-control"
              placeholder="Nhập giá mua ngay"
              value="<%= typeof price != 'undefined' ? price : '' %>"
            />
            <div class="input-group-append"><div class="input-group-text">đ</div></div>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Mô tả</label>
          <textarea
            class="form-control"
            id="description"
            rows="3"
            name="description"
            placeholder="Nhập mô tả"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="closedDate">Ngày kết thúc</label>
          <input
            type="date"
            id="closedDate"
            name="closedDate"
            class="form-control"
            placeholder="Nhập ngày kết thúc"
            value="<%= typeof closedDate != 'undefined' ? closedDate : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="closedTime">Giờ kết thúc</label>
          <input
            type="time"
            id="closedTime"
            name="closedTime"
            class="form-control"
            placeholder="Nhập địa chỉ"
            value="<%= typeof closedTime != 'undefined' ? closedTime : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Đăng sản phẩm</button>
      </form>
    </div>
  </div>
</div>
