<div class="mt-3">
  <div class="row bg-secondary p-0 mb-4 shadow">
    <div class="col-3 pl-0">
      <img src="data:image/png;base64,<%= product.image %>" class="rounded w-100 h-100" />
    </div>
    <div class="col-9 py-3 px-4">
      <div class="row flex-column justify-content-between h-100 py-0">
        <div class="col">
          <div class="d-flex justify-content-between">
            <h1 class="mb-0"><%= product.name %></h1>
            <% if (user.id !== 0) { %>
            <h1
              class="<%= userWatchlist.find(item => item.productId === product.id) ? 'fas' : 'far' %> fa-heart position-relative like text-warning"
            >
              <a
                href="/users/<%= user.id %>/watchlist/<%= product.id %>?add=<%= userWatchlist.find(item => item.productId === product.id) ? false : true %>"
                class="stretched-link"
              ></a>
            </h1>
            <% } %>
          </div>
          <p class="text-info m-0">
            Đăng lúc: <%= moment(product.submittedDate).format('D/M/YYYY H:mm') %>
            <em>(<%= moment(product.submittedDate).fromNow() %>)</em>
          </p>
          <p class="text-info m-0">Người bán: <%= textFormat.maskText(product.sellerName) %></p>
          <p class="text-info m-0">
            Kết thúc vào: <%= moment(product.closedDate).format('D/M/YYYY H:mm') %>
            <em>(<%= moment(product.closedDate).toNow(true) %> nữa)</em>
          </p>
        </div>
        <% if (product.winnerId) { %>
        <div class="col">
          <p>
            <%= (typeof user != 'undefined' && user.id === product.winnerId) ? product.winnerName :
            textFormat.maskText(product.winnerName) %> đã thắng sản phẩm với <%=
            textFormat.formatMoney(product.finalPrice) %>đ.
          </p>
        </div>
        <% } else { %>
        <div class="col">
          <div class="row">
            <div class="col">
              <form action="<%= product.id %>/bids" method="post" class="m-0">
                <div class="form-group m-0">
                  <p class="m-0 lead">
                    Giá hiện tại: <%= !highestBid ? `${textFormat.formatMoney(product.startingPrice)}đ` :
                    `${textFormat.formatMoney(highestBid.value)}đ (${(typeof user != 'undefined' && user.id ===
                    highestBid.bidderId) ? highestBid.bidderName : textFormat.maskText(highestBid.bidderName)})` %>
                  </p>
                  <div>
                    <input
                      class="form-control form-control-lg w-100 text-center"
                      type="number"
                      value="<%= highestBid ? highestBid.value + product.increment : product.startingPrice + product.increment %>"
                      name="value"
                    />
                    <p class="text-muted my-1">
                      Bước giá: <%= textFormat.formatMoney(product.increment) %>đ
                    </p>
                  </div>
                  <button type="submit" class="btn btn-success btn-block text-uppercase">Đấu giá</button>
                </div>
              </form>
            </div>
            <div class="col">
              <form
                action="<%= product.id %>/buy"
                method="post"
                class="m-0 d-flex flex-column h-100 justify-content-between"
              >
                <p class="m-0 lead">Giá mua ngay: <%= textFormat.formatMoney(product.price) %>đ</p>
                <button
                  type="submit"
                  class="btn btn-danger btn-block text-uppercase"
                  name="finalPrice"
                  value="<%= product.price %>"
                >
                  Mua ngay
                </button>
              </form>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <div class="row"></div>
    </div>
  </div>
  <%- include('partials/messages') %>
  <div class="row my-4">
    <div id="carouselExampleControls" class="carousel slide m-auto" data-ride="carousel">
      <div class="carousel-inner">
        <% for (let i = 0; i < product.sideImages.length; i++) { %> <% if (i === 0) { %>
        <div class="carousel-item active">
          <img src="data:image/png;base64,<%= product.sideImages[i] %>" class="d-block w-100" />
        </div>
        <% } else { %>
        <div class="carousel-item">
          <img src="data:image/png;base64,<%= product.sideImages[i] %>" class="d-block w-100" />
        </div>
        <% } %> <% } %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="row bg-secondary shadow mb-4 p-4">
    <p class="text-justify">
      <%= product.description %>
    </p>
    <% if (typeof user != 'undefined' && user.id === product.sellerId) { %>
    <a href="/products/<%= product.id %>/edit" class="btn btn-info text-dark ml-auto">Thêm mô tả</a>
    <% } %>
  </div>
  <% if (typeof user != 'undefined' && user.id === product.sellerId && bids.length > 0) { %>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Tên</th>
          <th scope="col">Giá</th>
          <th scope="col">Thời gian</th>
          <th scope="col">Duyệt</th>
        </tr>
      </thead>
      <tbody>
        <% bids.forEach(bid => { %>
        <tr>
          <th scope="row"><%= textFormat.maskText(bid.bidderName) %></th>
          <td><%= textFormat.formatMoney(bid.value) %>đ</td>
          <td><%= moment(bid.date).format('H:mm D/M/YYYY') %></td>
          <td>
            <% if (bid.approved === true) { %> Đã duyệt <% } else if (bid.approved === false) { %> Đã từ chối <% } else
            { %>
            <a href="/products/<%= product.id %>/bids/<%= bid.id %>?approved=true">
              <i class="fas fa-check fa-2x mr-2 text-success"></i>
            </a>
            <a href="/products/<%= product.id %>/bids/<%= bid.id %>?approved=false">
              <i class="fas fa-times fa-2x mx-2 text-danger"></i>
            </a>
            <% } %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <% } %> <% if ((typeof user == 'undefined' || user.id != product.sellerId) && bids.filter(bid => bid.approved).length
  > 0) { %>
  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Tên</th>
          <th scope="col">Giá</th>
          <th scope="col">Thời gian</th>
        </tr>
      </thead>
      <tbody>
        <% bids.filter(bid => bid.approved).forEach(bid => { %>
        <tr>
          <th scope="row">
            <%= (typeof user != 'undefined' && user.id === bid.bidderId) ? bid.bidderName :
            textFormat.maskText(bid.bidderName) %>
          </th>
          <td><%= textFormat.formatMoney(bid.value) %>đ</td>
          <td><%= moment(bid.date).format('H:mm D/M/YYYY') %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <% } %>
</div>
