<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> Đăng ký</h1>
      <%- include('partials/messages') %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Tên</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Nhập tên"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Nhập địa chỉ email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <input
            type="address"
            id="address"
            name="address"
            class="form-control"
            placeholder="Nhập địa chỉ"
            value="<%= typeof address != 'undefined' ? address : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Nhập mật khẩu"
            value="<%= typeof email != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Mật khẩu</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Nhập lại mật khẩu"
            value="<%= typeof email != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
      </form>
      <p class="lead mt-4">Đã có tài khoản? <a href="/users/login">Đăng nhập</a></p>
    </div>
  </div>
</div>
