<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Chỉnh sửa thành viên</h1>
      <form action="/users/<%= userInfo.id %>/edit" method="POST">
        <div class="form-group">
          <label for="name">Tên</label>
          <input type="name" id="name" name="name" class="form-control" value="<%= userInfo.name %>" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" value="<%= userInfo.email %>" />
        </div>
        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <input type="address" id="address" name="address" class="form-control" value="<%= userInfo.address %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Chỉnh sửa</button>
      </form>
    </div>
  </div>
</div>
