<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4">
    <h3 class="mb-3">Nhiều lượt đấu giá nhất</h3>
    <% topCountsProducts.forEach(item => { %>
    <div class="card mb-4 shadow">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="data:image/png;base64,<%= item.image %>" class="card-img h-100" />
        </div>
        <div class="col-md-7">
          <div class="card-body pb-3 h-100 d-flex flex-column">
            <h5 class="card-title mb-2"><%= item.name %></h5>
            <div class="mt-auto d-flex justify-content-between">
              <p class="lead ml-auto text-warning mb-0"><%= item.counts %> lượt ra giá</p>
            </div>
          </div>
        </div>
        <a href="/products/<%= item.id %>" class="stretched-link"></a>
      </div>
    </div>
    <% }) %>
  </div>
  <div class="col mb-4">
    <h3 class="mb-3">Giá trị cao nhất</h3>
    <% topValueProducts.forEach(item => { %>
    <div class="card mb-4 shadow">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="data:image/png;base64,<%= item.image %>" class="card-img h-100" />
        </div>
        <div class="col-md-7">
          <div class="card-body pb-3 h-100 d-flex flex-column">
            <h5 class="card-title mb-2"><%= item.name %></h5>
            <div class="mt-auto d-flex justify-content-between">
              <p class="text-warning mb-0">
                Giá hiện tại: <%= !item.value ? `${formatText.formatMoney(item.lowestPossible)}đ` :
                `${formatText.formatMoney(item.value)}đ` %>
              </p>
            </div>
          </div>
        </div>
        <a href="/products/<%= item.id %>" class="stretched-link"></a>
      </div>
    </div>
    <% }) %>
  </div>
  <div class="col mb-4">
    <h3 class="mb-3">Gần kết thúc</h3>
    <% topEndingProducts.forEach(item => { %>
    <div class="card mb-4 shadow">
      <div class="row no-gutters">
        <div class="col-md-5">
          <img src="data:image/png;base64,<%= item.image %>" class="card-img h-100" />
        </div>
        <div class="col-md-7">
          <div class="card-body pb-3 h-100 d-flex flex-column">
            <h5 class="card-title mb-2"><%= item.name %></h5>
            <div class="mt-auto d-flex justify-content-between">
              <p class="lead ml-auto text-warning mb-0">
                Còn <%= moment(item.closedDate).toNow(true) %>
              </p>
            </div>
          </div>
        </div>
        <a href="/products/<%= item.id %>" class="stretched-link"></a>
      </div>
    </div>
    <% }) %>
  </div>
</div>
