<div class="list-group shadow-sm">
  <% categories.forEach(category => { %>
  <a
    href="?category=<%= category.id %>&order=<%= order %><%= !keywords ? '' : `&keywords=${keywords}` %>"
    class="list-group-item list-group-item-action shadow <%= activeCategory === category.id ? 'active' : '' %>"
    ><%= category.name %></a
  >
  <% if (category.childs.length > 0) { %> <% category.childs.forEach(childCategory => { %>
  <a
    href="?category=<%= childCategory.id %>&order=<%= order %><%= !keywords ? '' : `&keywords=${keywords}` %>"
    class="list-group-item list-group-item-warning list-group-item-action <%= activeCategory === childCategory.id ? 'active' : '' %>"
    ><%= childCategory.name %></a
  >
  <% }); %> <% }; %> <% }); %>
</div>
