<div class="row justify-content-end mb-3">
  <div class="btn-group mx-3" role="group">
    <a
      type="button"
      class="btn btn-secondary <%= order === 'count_desc' ? 'active' : '' %>"
      href="/products?category=<%= activeCategory %>&page=<%= page %>&order=<%= 'count_desc' %><%= !keywords ? '' : `&keywords=${keywords}` %>"
      >Được quan tâm</a
    >
    <a
      type="button"
      class="btn btn-secondary <%= order === 'price_asc' ? 'active' : '' %>"
      href="/products?category=<%= activeCategory %>&page=<%= page %>&order=<%= 'price_asc' %><%= !keywords ? '' : `&keywords=${keywords}` %>"
      >Giá cao nhất</a
    >
    <a
      type="button"
      class="btn btn-secondary <%= order === 'price_desc' ? 'active' : '' %>"
      href="/products?category=<%= activeCategory %>&page=<%= page %>&order=<%= 'price_desc' %><%= !keywords ? '' : `&keywords=${keywords}` %>"
      >Giá rẻ nhất</a
    >
    <a
      type="button"
      class="btn btn-secondary <%= order === 'remaining_time_asc' ? 'active' : '' %>"
      href="/products?category=<%= activeCategory %>&page=<%= page %>&order=<%= 'remaining_time_asc' %><%= !keywords ? '' : `&keywords=${keywords}` %>"
      >Gần kết thúc</a
    >
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2">
  <% products.forEach(product => { %>
  <div class="col mb-4">
    <div
      class="card shadow h-100 <%= moment.duration(moment() - moment(product.submittedDate)).asMinutes() <= 30 ? 'bg-primary' : '' %>"
    >
      <div class="row no-gutters h-100">
        <div class="col-md-5">
          <img src="data:image/png;base64,<%= product.image %>" class="card-img h-100" />
        </div>
        <div class="col-md-7">
          <div class="card-body pb-3 h-100 d-flex flex-column">
            <h5 class="card-title mb-2"><%= product.name %></h5>
            <h6 class="card-subtitle text-muted mb-2">
              <em>(<%= product.counts ? product.counts : 0 %> lượt ra giá)</em>
            </h6>
            <p class="card-text product-description">
              Giá hiện tại: <%= !product.value ? `${textFormat.formatMoney(product.startingPrice)}đ` :
              `${textFormat.formatMoney(product.value)}đ` %>
              <em><%= product.value ? `(${textFormat.maskText(product.bidderName)})` : '' %></em> <br />Giá mua ngay:
              <%= textFormat.formatMoney(product.price) %>đ
            </p>
            <div class="mt-auto d-flex justify-content-between">
              <% if (user.id !== 0) { %>
              <i
                class="<%= userWatchlist.find(item => item.productId === product.id) ? 'fas' : 'far' %> fa-heart position-relative like text-warning"
                ><a
                  href="/users/<%= user.id %>/watchlist/<%= product.id %>?add=<%= userWatchlist.find(item => item.productId === product.id) ? false : true %>"
                  class="stretched-link"
                ></a
              ></i>
              <% } %>
              <small class="text-muted ml-auto">Còn <%= moment(product.closedDate).toNow(true) %></small>
            </div>
          </div>
        </div>
        <a href="/products/<%= product.id %>" class="stretched-link"></a>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<nav>
  <ul class="pagination justify-content-center">
    <li class="d-none page-item <%= page === 1 ? 'disabled' : '' %>">
      <a class="page-link" href="#">Trước</a>
    </li>
    <% for (let i = 1; i <= totalPages; i++) { %>
    <li class="page-item <%= page === i ? 'active' : '' %>">
      <a class="page-link" href="/products?category=<%= activeCategory %>&page=<%= i %>&order=<%= order %>"><%= i %></a>
    </li>
    <% } %>
    <li class="d-none page-item <%= page === totalPages ? 'disabled' : '' %>">
      <a class="page-link" href="#">Sau</a>
    </li>
  </ul>
</nav>
